
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("ProductList");
        }
    </div>

    <div id="newForm">

    </div>
 </div>

<br />
